<a href="https://colab.research.google.com/github/drovosekovanton/Skillfactory_game/blob/master/Skillfactory_game.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np
from pathlib import PurePath
from collections import namedtuple
from google.colab import drive
import glob

# mount root of your google drive to /content/drive
drive.mount('/content/drive')
# suppose that dataset inside 'Colab Notebooks/Skillfactory_game_data' of your google drive
file_prefix = file_prefix = PurePath('/content/drive/My Drive/Colab Notebooks/Skillfactory_game_data')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**informations_households.csv**

Информация о датчиках энергопотребления и краткие сведения о домах, в которых эти датчики установлены. Столбцы датафрейма:

| LCLid | stdorToU | Acorn | Acorn_grouped | file |
|:-|:-|:-|:-|:-|
| id датчика | форма оплаты за электроэнергию в доме, в котором установлен датчик (Std – стандартная, ToU – Time of Use, оплата зависит от времени суток) | информация о том, к какой категории потребителей по системе ACORN относится семья, проживающая в данном доме |  | имя файла, содержащего показатели счётчиков |


**halfhourly_dataset\halfhourly_dataset\block_{0 - 111}.csv**

Архив содержит 112 файлов, содержащих данные об энергопотреблении, получаемые с каждого счётчика 1 раз в 30 минут. Каждый файл содержит информацию с датчиков, установленных в одном доме. Столбцы датафрейма:

| LCLid | tstp | energy(kWh/hh) |
|:-|:-|:-|
| id датчика | дата и время фиксации показателей | уровень энергопотребления |

**daily_dataset\daily_dataset\block_{0 - 111}.csv**

Архив содержит 112 файлов, содержащих обобщённые данные об энергопотреблении за каждые сутки. Каждый файл содержит информацию с датчиков, установленных в одном доме. Столбцы датафрейма:

| LCLid | day | energy_median | energy_mean | energy_max |energy_count|energy_std|energy_sum|energy_min|
|:-|:-|:-|:-|:-|:-|:-|:-|:-|
|id датчика|дата|медиана суточных показателей|среднее арифметическое суточных показателей|максимальное значение энергопотребления, зафиксированное датчиком в течение дня|количество показателей, зафиксированных датчиком в течение дня|стандартное отклонение|сумма значений всех показателей|минимальное значение энергопотребления, зафиксированное датчиком в течение дня|

**acorn_details.csv**

Данные о группах потребителей согласно классификации ACORN. При характеристике групп в данном датафрейме используется сравнение каждой группы с общенациональными показателями. Так, если значение ячейки по какому-либо показателю составляет 150 это означает, что в рассматриваемой группе этот показатель встречается в 1,5 раза чаще, чем в целом по стране. Столбцы датафрейма:
- MAIN CATEGORIES, CATEGORIES, REFERENCE – показатели, по которым осуществляется сравнение групп;
- ACORN-A, ACORN-B, ACORN-C, ACORN-D, ACORN-E, ACORN-F, ACORN-G, ACORN-H, ACORN-I, ACORN-J, ACORN-K, ACORN-L, ACORN-M, ACORN-N, ACORN-O, ACORN-P, ACORN-Q – частота встречаемости каждого из рассмотренных признаков в каждой группе.
Использование данного файла при проведении анализа не является обязательным

**weather_daily_darksky.csv**

Обобщённые данные о погоде за день. Столбцы датафрейма:
- temperatureMax – максимальное значение температуры воздуха;
- temperatureMaxTime – время, когда была зафиксирована максимальная температура воздуха;
- windBearing – направление ветра (по азимуту);
- icon – стандартизованное словесное описание погодных условий;
- dewPoint – точка росы;
- temperatureMinTime – время, когда была зафиксирована минимальная температура воздуха;
- cloudCover – облачность;
- windSpeed – скорость ветра;
- pressure – атмосферное давление;
- apparentTemperatureMinTime – время, когда была зафиксирована минимальная температура комфорта;
- apparentTemperatureHigh – дневная температура комфорта;
- precipType – тип осадков;
- visibility – видимость (в милях);
- humidity – относительная влажность;
- apparentTemperatureHighTime – время, когда была зафиксирована дневная температура комфорта;
- apparentTemperatureLow – ночная температура комфорта;
- apparentTemperatureMax – максимальная температура комфорта;
- uvIndex – UV-индекс;
- time – время начала сбора данных;
- sunsetTime – время заката;
- temperatureLow – минимальная ночная температура;
- temperatureMin – минимальная температура за сутки;
- temperatureHigh – максимальная дневная температура;
- sunriseTime – время восхода;
- temperatureHighTime – время, когда была зафиксирована максимальная дневная температура;
- uvIndexTime – время, когда был зафиксирован максимальный UV-индекс;
- summary – словесное описание погоды в течение дня (не рекомендуется использовать для автоматизированного анализа!);
- temperatureLowTime – время, когда была зафиксирована минимальная ночная температура;
- apparentTemperatureMin – минимальная температура комфорта;
- apparentTemperatureMaxTime – время, когда была зафиксирована максимальная температура комфорта за сутки;
- apparentTemperatureLowTime – время, когда была зафиксирована минимальная ночная температура комфорта; 
- moonPhase – фаза луны.

**weather_hourly_darksky.csv**

Почасовые сведения о погоде. Столбцы датафрейма:
- visibility – видимость в милях;
- windBearing – направление ветра (по азимуту);
- temperature – температура воздуха;
- time – время записи показателей;
- dewPoint – точка росы;
- pressure – атмосферное давление;
- apparentTemperature – температура комфорта;
- windSpeed – скорость ветра;
- precipType – тип осадков;
- icon – стандартизованное словесное описание погодных условий;
- humidity – относительная влажность;
- summary – нестандартизованное словесное описание погодных условий.

In [0]:
informations_households = pd.read_csv(file_prefix / 'informations_households.csv', index_col='LCLid')
acorn_details = pd.read_csv(file_prefix / 'acorn_details.csv', encoding='cp1251')
weather_daily_darksky = pd.read_csv(file_prefix / 'weather_daily_darksky.csv')
weather_hourly_darksky = pd.read_csv(file_prefix / 'weather_hourly_darksky.csv')

In [0]:
informations_households.sample(5)

          stdorToU    Acorn Acorn_grouped      file
LCLid
MAC001497      Std  ACORN-H   Comfortable  block_70
MAC003757      Std  ACORN-L     Adversity  block_81
MAC001189      Std  ACORN-E      Affluent  block_37
MAC004979      ToU  ACORN-Q     Adversity  block_96
MAC001294      Std  ACORN-E      Affluent  block_37

## Общие данные по ACORN

In [0]:
# Details on the acorn groups and their profile of the people in the group
# At a national scale, the index is 100
# if for one column the value is 150 it means that there are 1.5 times more people
# with this attribute in the ACORN group than at the national scale
display(acorn_details.sample(3))

display(acorn_details['MAIN CATEGORIES'].unique())
# each main category has its subcategory
display(acorn_details[acorn_details['MAIN CATEGORIES'] == 'FAMILY']['CATEGORIES'].unique())
# and a reference for a certain subcategory
# acorn_details['REFERENCE'].unique()
# acorn_details[acorn_details['REFERENCE'] == 'Being mugged and robbed']

    MAIN CATEGORIES                          CATEGORIES  ... ACORN-P  ACORN-Q
494         DIGITAL  Regularly research on the internet  ...    87.0     74.0
575         DIGITAL             Sites regularly visited  ...    80.0     84.0
632         DIGITAL             Sites regularly visited  ...   100.0    100.0

[3 rows x 20 columns]

array(['POPULATION', 'HOUSING', 'FAMILY', 'ECONOMY', 'EDUCATION',
       'HEALTH', 'TRANSPORT', 'MARKETING CHANNELS', 'FINANCE', 'DIGITAL',
       'SHOPPING', 'CONTACT', 'ENVIRONMENT', 'COMMUNITY SAFETY',
       'LEISURE TIME'], dtype=object)

array(['Structure', 'Children in household', 'Household Size'],
      dtype=object)

In [0]:
# common details over population
display(acorn_details.drop_duplicates(subset=['MAIN CATEGORIES'])['MAIN CATEGORIES'])
display(acorn_details.drop_duplicates(subset=['MAIN CATEGORIES', 'CATEGORIES']).set_index(['MAIN CATEGORIES'])['CATEGORIES'])
display(acorn_details.drop_duplicates(subset=['MAIN CATEGORIES', 'CATEGORIES', 'REFERENCE']).set_index(['MAIN CATEGORIES', 'CATEGORIES'])['REFERENCE'])

0              POPULATION
35                HOUSING
59                 FAMILY
74                ECONOMY
108             EDUCATION
127                HEALTH
134             TRANSPORT
159    MARKETING CHANNELS
186               FINANCE
280               DIGITAL
652              SHOPPING
696               CONTACT
700           ENVIRONMENT
712      COMMUNITY SAFETY
734          LEISURE TIME
Name: MAIN CATEGORIES, dtype: object

MAIN CATEGORIES
POPULATION                                   Age
POPULATION                             Geography
POPULATION                             Ethnicity
POPULATION                      Country of Birth
POPULATION                              Religion
                              ...
LEISURE TIME    Visit Pubs for a Drink - Evening
LEISURE TIME         Visit Pubs for a Meal - Day
LEISURE TIME     Visit Pubs for a Meal - Evening
LEISURE TIME            Restaurants - Most Often
LEISURE TIME            Holiday Destination/Type
Name: CATEGORIES, Length: 84, dtype: object

MAIN CATEGORIES  CATEGORIES
POPULATION       Age                                           Age 0-4
                 Age                                          Age 5-17
                 Age                                         Age 18-24
                 Age                                         Age 25-34
                 Age                                         Age 35-49
                                                       ...
LEISURE TIME     Holiday Destination/Type                         Asia
                 Holiday Destination/Type    Activity / Outdoor Sports
                 Holiday Destination/Type                       Cruise
                 Holiday Destination/Type                      Package
                 Holiday Destination/Type                Self-catering
Name: REFERENCE, Length: 826, dtype: object

## группы по ACORN среди потребителей в датасете

In [0]:
# группы потребителей по ACORN

display(informations_households['Acorn_grouped'].unique())
# Присутствует 'ACORN-U(nclassified)' который не принадлежит ни одной ACORN-метрике,
# возможно, нам придётся его дропать при обработке по группам ACORN
# Также присутствует 'ACORN-' - скорее всего, битые данные, надо их отбросить
# Affluent - обеспеченный класс 
# Comfortable - средний класс
# Adversity - низший класс
display(informations_households.groupby(['Acorn', 'Acorn_grouped'])['file'].count())
display(informations_households = informations_households[informations_households['Acorn'] != 'ACORN-'])

array(['ACORN-', 'Affluent', 'Comfortable', 'Adversity', 'ACORN-U'],
      dtype=object)

Acorn    Acorn_grouped
ACORN-   ACORN-              2
ACORN-A  Affluent          157
ACORN-B  Affluent           25
ACORN-C  Affluent          151
ACORN-D  Affluent          292
ACORN-E  Affluent         1567
ACORN-F  Comfortable       684
ACORN-G  Comfortable       205
ACORN-H  Comfortable       455
ACORN-I  Comfortable        51
ACORN-J  Comfortable       112
ACORN-K  Adversity         165
ACORN-L  Adversity         342
ACORN-M  Adversity         113
ACORN-N  Adversity         152
ACORN-O  Adversity         103
ACORN-P  Adversity         110
ACORN-Q  Adversity         831
ACORN-U  ACORN-U            49
Name: file, dtype: int64

## Погодные данные

In [0]:
display(weather_daily_darksky.head())
display(weather_hourly_darksky.head())

   temperatureMax   temperatureMaxTime  ...  apparentTemperatureLowTime moonPhase
0           11.96  2011-11-11 23:00:00  ...         2011-11-11 19:00:00      0.52
1            8.59  2011-12-11 14:00:00  ...         2011-12-12 08:00:00      0.53
2           10.33  2011-12-27 02:00:00  ...         2011-12-28 00:00:00      0.10
3            8.07  2011-12-02 23:00:00  ...         2011-12-02 19:00:00      0.25
4            8.22  2011-12-24 23:00:00  ...         2011-12-24 20:00:00      0.99

[5 rows x 32 columns]

   visibility  windBearing  ...  humidity        summary
0        5.97          104  ...      0.91  Partly Cloudy
1        4.88           99  ...      0.94  Partly Cloudy
2        3.70           98  ...      0.96  Partly Cloudy
3        3.12           99  ...      0.96          Foggy
4        1.85          111  ...      1.00          Foggy

[5 rows x 12 columns]

## Работа с данными

In [0]:
LCLid_full_data = namedtuple('LCLid_full_data',
                             ['LCLid',
                              'Acorn',  # Acorn category group
                              'Acorn_grouped',  # common subdivision over Acorn groups
                              'stdorToU',  # Standart or TimeOfUse
                              'consumption']  # returns DataFrame
                            )

def retrieve_LCLid_full_data(LCLid):
# запрос всех данных потребителя по его LCLid
    LCLid_series = informations_households.loc[LCLid]
    file = LCLid_series['file']
    hh_ds_block = pd.read_csv(
        file_prefix / 'halfhourly_dataset' / f'{file}.csv.zip', index_col='LCLid')
    hh_ds_block = hh_ds_block.loc[LCLid]

    return LCLid_full_data(
        LCLid=LCLid,
        Acorn=LCLid_series['Acorn'],
        Acorn_grouped=LCLid_series['Acorn_grouped'],
        stdorToU=LCLid_series['stdorToU'],
        consumption=hh_ds_block
    )

z = retrieve_LCLid_full_data('MAC003597')
z.Acorn
z.consumption.sample(5)
z.consumption.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24215 entries, MAC003597 to MAC003597
Data columns (total 2 columns):
tstp              24215 non-null object
energy(kWh/hh)    24215 non-null object
dtypes: object(2)
memory usage: 567.5+ KB

In [0]:
consumption = pd.DataFrame(columns=['tstp','energy'])

count_tables = 0

for file in glob.glob(str(file_prefix / 'halfhourly_dataset' / '*.*')):
    print(f'DEBUG: file={file}')
    temp = pd.read_csv(
        file,
        parse_dates=['tstp'],
        infer_datetime_format=True,
        compression='infer',
        na_values='Null',
        keep_default_na=True,
        index_col='LCLid'
    )
    temp.columns = ['tstp', 'energy']
    temp.fillna(0, inplace=True)
    temp['energy'] = temp['energy'].astype(np.float16, copy=False)
    # TODO: now we need to concat two halves of an hour 
    consumption = pd.concat([consumption, temp], copy=False)

    count_tables += 1
    if count_tables > 5:
        break
    
display(consumption.sample(10))
display(consumption.info())

In [0]:
del consumption

In [0]:
file_path = glob.glob(str(file_prefix / 'halfhourly_dataset' / "***.zip"))
for file in file_path:
  print(file)