<a href="https://colab.research.google.com/github/drovosekovanton/Skillfactory_game/blob/master/Skillfactory_game.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Импорт используемых библиотек

In [8]:
import pandas as pd
import numpy as np
from pathlib import PurePath
from collections import namedtuple
from google.colab import drive
import glob

# mount root of your google drive to '/content/drive'
drive.mount('/content/drive')
# suppose that dataset is inside 
# 'Colab Notebooks/Skillfactory_game_data' folder
file_prefix = PurePath('/content/drive/My Drive/Colab Notebooks'
                       '/Skillfactory_game_data')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### `Описание файлов датасета`

**informations_households.csv**

Информация о датчиках энергопотребления и краткие сведения о домах, в которых эти датчики установлены. Столбцы датафрейма:

| LCLid | stdorToU | Acorn | Acorn_grouped | file |
|:-|:-|:-|:-|:-|
| id датчика | форма оплаты за электроэнергию в доме, в котором установлен датчик (Std – стандартная, ToU – Time of Use, оплата зависит от времени суток) | информация о том, к какой категории потребителей по системе ACORN относится семья, проживающая в данном доме |  | имя файла, содержащего показатели счётчиков |


**halfhourly_dataset\halfhourly_dataset\block_{0 - 111}.csv**

Архив содержит 112 файлов, содержащих данные об энергопотреблении, получаемые с каждого счётчика 1 раз в 30 минут. Каждый файл содержит информацию с датчиков, установленных в одном доме. Столбцы датафрейма:

| LCLid | tstp | energy(kWh/hh) |
|:-|:-|:-|
| id датчика | дата и время фиксации показателей | уровень энергопотребления |

**daily_dataset\daily_dataset\block_{0 - 111}.csv**

Архив содержит 112 файлов, содержащих обобщённые данные об энергопотреблении за каждые сутки. Каждый файл содержит информацию с датчиков, установленных в одном доме. Столбцы датафрейма:

| LCLid | day | energy_median | energy_mean | energy_max |energy_count|energy_std|energy_sum|energy_min|
|:-|:-|:-|:-|:-|:-|:-|:-|:-|
|id датчика|дата|медиана суточных показателей|среднее арифметическое суточных показателей|максимальное значение энергопотребления, зафиксированное датчиком в течение дня|количество показателей, зафиксированных датчиком в течение дня|стандартное отклонение|сумма значений всех показателей|минимальное значение энергопотребления, зафиксированное датчиком в течение дня|

**acorn_details.csv**

Данные о группах потребителей согласно классификации ACORN. При характеристике групп в данном датафрейме используется сравнение каждой группы с общенациональными показателями. Так, если значение ячейки по какому-либо показателю составляет 150 это означает, что в рассматриваемой группе этот показатель встречается в 1,5 раза чаще, чем в целом по стране. Столбцы датафрейма:
- MAIN CATEGORIES, CATEGORIES, REFERENCE – показатели, по которым осуществляется сравнение групп;
- ACORN-A, ACORN-B, ACORN-C, ACORN-D, ACORN-E, ACORN-F, ACORN-G, ACORN-H, ACORN-I, ACORN-J, ACORN-K, ACORN-L, ACORN-M, ACORN-N, ACORN-O, ACORN-P, ACORN-Q – частота встречаемости каждого из рассмотренных признаков в каждой группе.
Использование данного файла при проведении анализа не является обязательным

**weather_daily_darksky.csv**

Обобщённые данные о погоде за день. Столбцы датафрейма:
- temperatureMax – максимальное значение температуры воздуха;
- temperatureMaxTime – время, когда была зафиксирована максимальная температура воздуха;
- windBearing – направление ветра (по азимуту);
- icon – стандартизованное словесное описание погодных условий;
- dewPoint – точка росы;
- temperatureMinTime – время, когда была зафиксирована минимальная температура воздуха;
- cloudCover – облачность;
- windSpeed – скорость ветра;
- pressure – атмосферное давление;
- apparentTemperatureMinTime – время, когда была зафиксирована минимальная температура комфорта;
- apparentTemperatureHigh – дневная температура комфорта;
- precipType – тип осадков;
- visibility – видимость (в милях);
- humidity – относительная влажность;
- apparentTemperatureHighTime – время, когда была зафиксирована дневная температура комфорта;
- apparentTemperatureLow – ночная температура комфорта;
- apparentTemperatureMax – максимальная температура комфорта;
- uvIndex – UV-индекс;
- time – время начала сбора данных;
- sunsetTime – время заката;
- temperatureLow – минимальная ночная температура;
- temperatureMin – минимальная температура за сутки;
- temperatureHigh – максимальная дневная температура;
- sunriseTime – время восхода;
- temperatureHighTime – время, когда была зафиксирована максимальная дневная температура;
- uvIndexTime – время, когда был зафиксирован максимальный UV-индекс;
- summary – словесное описание погоды в течение дня (не рекомендуется использовать для автоматизированного анализа!);
- temperatureLowTime – время, когда была зафиксирована минимальная ночная температура;
- apparentTemperatureMin – минимальная температура комфорта;
- apparentTemperatureMaxTime – время, когда была зафиксирована максимальная температура комфорта за сутки;
- apparentTemperatureLowTime – время, когда была зафиксирована минимальная ночная температура комфорта; 
- moonPhase – фаза луны.

**weather_hourly_darksky.csv**

Почасовые сведения о погоде. Столбцы датафрейма:
- visibility – видимость в милях;
- windBearing – направление ветра (по азимуту);
- temperature – температура воздуха;
- time – время записи показателей;
- dewPoint – точка росы;
- pressure – атмосферное давление;
- apparentTemperature – температура комфорта;
- windSpeed – скорость ветра;
- precipType – тип осадков;
- icon – стандартизованное словесное описание погодных условий;
- humidity – относительная влажность;
- summary – нестандартизованное словесное описание погодных условий.

### Загрузка сводных данных

In [0]:
informations_households = pd.read_csv(
    file_prefix / 'informations_households.csv',
    index_col='LCLid'
    )
daily_dataset = pd.read_csv(
    file_prefix / 'daily_dataset' / 'daily_dataset.csv.zip',
    index_col='LCLid'
    )
acorn_details = pd.read_csv(
    file_prefix / 'acorn_details.csv',
    encoding='cp1251'
    )
weather_daily_darksky = pd.read_csv(
    file_prefix / 'weather_daily_darksky.csv'
    )
weather_hourly_darksky = pd.read_csv(
    file_prefix / 'weather_hourly_darksky.csv'
    )

### Общие данные по ACORN

In [5]:
# Details on the acorn groups and their profile of the people in the group
# At a national scale, the index is 100
# if for one column the value is 150 it means that there are 1.5 times more people
# with this attribute in the ACORN group than at the national scale
display(acorn_details.head(20))

display(acorn_details['MAIN CATEGORIES'].unique())
# each main category has its subcategory
display(acorn_details[acorn_details['MAIN CATEGORIES'] == 'FAMILY']['CATEGORIES'].unique())
# and a reference for a certain subcategory
# acorn_details['REFERENCE'].unique()
# acorn_details[acorn_details['REFERENCE'] == 'Being mugged and robbed']

   MAIN CATEGORIES        CATEGORIES  ... ACORN-P  ACORN-Q
0       POPULATION               Age  ...   138.0    133.0
1       POPULATION               Age  ...   136.0    106.0
2       POPULATION               Age  ...   109.0    110.0
3       POPULATION               Age  ...   120.0    120.0
4       POPULATION               Age  ...   103.0    100.0
5       POPULATION               Age  ...    78.0     89.0
6       POPULATION               Age  ...    59.0     76.0
7       POPULATION               Age  ...    56.0     76.0
8       POPULATION         Geography  ...   110.0     97.0
9       POPULATION         Geography  ...    75.0     43.0
10      POPULATION         Geography  ...    31.0    183.0
11      POPULATION         Geography  ...    54.0     45.0
12      POPULATION         Ethnicity  ...    80.0     98.0
13      POPULATION         Ethnicity  ...   193.0    137.0
14      POPULATION         Ethnicity  ...   154.0     79.0
15      POPULATION         Ethnicity  ...   389.0    174.0
16      POPULATION         Ethnicity  ...   179.0     94.0
17      POPULATION  Country of Birth  ...    88.0     99.0
18      POPULATION  Country of Birth  ...   137.0     75.0
19      POPULATION  Country of Birth  ...   155.0    135.0

[20 rows x 20 columns]

array(['POPULATION', 'HOUSING', 'FAMILY', 'ECONOMY', 'EDUCATION',
       'HEALTH', 'TRANSPORT', 'MARKETING CHANNELS', 'FINANCE', 'DIGITAL',
       'SHOPPING', 'CONTACT', 'ENVIRONMENT', 'COMMUNITY SAFETY',
       'LEISURE TIME'], dtype=object)

array(['Structure', 'Children in household', 'Household Size'],
      dtype=object)

In [0]:
# common details over population
display(acorn_details.drop_duplicates(subset=['MAIN CATEGORIES'])['MAIN CATEGORIES'])
display(acorn_details.drop_duplicates(subset=['MAIN CATEGORIES', 'CATEGORIES']).set_index(['MAIN CATEGORIES'])['CATEGORIES'])
display(acorn_details.drop_duplicates(subset=['MAIN CATEGORIES', 'CATEGORIES', 'REFERENCE']).set_index(['MAIN CATEGORIES', 'CATEGORIES'])['REFERENCE'])

0              POPULATION
35                HOUSING
59                 FAMILY
74                ECONOMY
108             EDUCATION
127                HEALTH
134             TRANSPORT
159    MARKETING CHANNELS
186               FINANCE
280               DIGITAL
652              SHOPPING
696               CONTACT
700           ENVIRONMENT
712      COMMUNITY SAFETY
734          LEISURE TIME
Name: MAIN CATEGORIES, dtype: object

MAIN CATEGORIES
POPULATION                                   Age
POPULATION                             Geography
POPULATION                             Ethnicity
POPULATION                      Country of Birth
POPULATION                              Religion
                              ...
LEISURE TIME    Visit Pubs for a Drink - Evening
LEISURE TIME         Visit Pubs for a Meal - Day
LEISURE TIME     Visit Pubs for a Meal - Evening
LEISURE TIME            Restaurants - Most Often
LEISURE TIME            Holiday Destination/Type
Name: CATEGORIES, Length: 84, dtype: object

MAIN CATEGORIES  CATEGORIES
POPULATION       Age                                           Age 0-4
                 Age                                          Age 5-17
                 Age                                         Age 18-24
                 Age                                         Age 25-34
                 Age                                         Age 35-49
                                                       ...
LEISURE TIME     Holiday Destination/Type                         Asia
                 Holiday Destination/Type    Activity / Outdoor Sports
                 Holiday Destination/Type                       Cruise
                 Holiday Destination/Type                      Package
                 Holiday Destination/Type                Self-catering
Name: REFERENCE, Length: 826, dtype: object

### группы по ACORN среди потребителей в датасете

In [0]:
# группы потребителей по ACORN

display(informations_households['Acorn_grouped'].unique())
# Присутствует 'ACORN-U(nclassified)' который не принадлежит ни одной ACORN-метрике,
# возможно, нам придётся его дропать при обработке по группам ACORN
# Также присутствует 'ACORN-' - скорее всего, битые данные, надо их отбросить
# Affluent - обеспеченный класс 
# Comfortable - средний класс
# Adversity - низший класс
display(informations_households.groupby(['Acorn', 'Acorn_grouped'])['file'].count())
display(informations_households = informations_households[informations_households['Acorn'] != 'ACORN-'])

array(['ACORN-', 'Affluent', 'Comfortable', 'Adversity', 'ACORN-U'],
      dtype=object)

Acorn    Acorn_grouped
ACORN-   ACORN-              2
ACORN-A  Affluent          157
ACORN-B  Affluent           25
ACORN-C  Affluent          151
ACORN-D  Affluent          292
ACORN-E  Affluent         1567
ACORN-F  Comfortable       684
ACORN-G  Comfortable       205
ACORN-H  Comfortable       455
ACORN-I  Comfortable        51
ACORN-J  Comfortable       112
ACORN-K  Adversity         165
ACORN-L  Adversity         342
ACORN-M  Adversity         113
ACORN-N  Adversity         152
ACORN-O  Adversity         103
ACORN-P  Adversity         110
ACORN-Q  Adversity         831
ACORN-U  ACORN-U            49
Name: file, dtype: int64

### Погодные данные

In [0]:
display(weather_daily_darksky.head())
display(weather_hourly_darksky.head())

   temperatureMax   temperatureMaxTime  ...  apparentTemperatureLowTime moonPhase
0           11.96  2011-11-11 23:00:00  ...         2011-11-11 19:00:00      0.52
1            8.59  2011-12-11 14:00:00  ...         2011-12-12 08:00:00      0.53
2           10.33  2011-12-27 02:00:00  ...         2011-12-28 00:00:00      0.10
3            8.07  2011-12-02 23:00:00  ...         2011-12-02 19:00:00      0.25
4            8.22  2011-12-24 23:00:00  ...         2011-12-24 20:00:00      0.99

[5 rows x 32 columns]

   visibility  windBearing  ...  humidity        summary
0        5.97          104  ...      0.91  Partly Cloudy
1        4.88           99  ...      0.94  Partly Cloudy
2        3.70           98  ...      0.96  Partly Cloudy
3        3.12           99  ...      0.96          Foggy
4        1.85          111  ...      1.00          Foggy

[5 rows x 12 columns]

## Работа с данными

### запрос всех данных потребителя по его LCLid

In [3]:
LCLid_full_data = namedtuple('LCLid_full_data',
                             ['LCLid',
                              'Acorn',  # Acorn category group
                              'Acorn_grouped',  # common subdivision over Acorn groups
                              'stdorToU',  # Standart or TimeOfUse
                              'consumption']  # returns DataFrame
                            )

def retrieve_LCLid_full_data(LCLid):
# запрос всех данных потребителя по его LCLid
    LCLid_series = informations_households.loc[LCLid]
    file = LCLid_series['file']
    hh_ds_block = pd.read_csv(
        file_prefix / 'halfhourly_dataset' / f'{file}.csv.zip', index_col='LCLid')
    hh_ds_block = hh_ds_block.loc[LCLid]

    return LCLid_full_data(
        LCLid=LCLid,
        Acorn=LCLid_series['Acorn'],
        Acorn_grouped=LCLid_series['Acorn_grouped'],
        stdorToU=LCLid_series['stdorToU'],
        consumption=hh_ds_block
    )

z = retrieve_LCLid_full_data('MAC003597')
z.Acorn
z.consumption.sample(5)
z.consumption.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24215 entries, MAC003597 to MAC003597
Data columns (total 2 columns):
tstp              24215 non-null object
energy(kWh/hh)    24215 non-null object
dtypes: object(2)
memory usage: 567.5+ KB

### Сбор всех данных из получасовых отсчётов в один датафрейм

In [7]:
consumption = pd.DataFrame(columns=['tstp','energy'])

count_tables = 0

for file in glob.glob(str(file_prefix / 'halfhourly_dataset' / '*.*')):
    print(f'DEBUG: file={file}')
    temp = pd.read_csv(
        file,
        parse_dates=['tstp'],
        infer_datetime_format=True,
        compression='infer',
        na_values='Null',
        keep_default_na=True,
        # index_col='LCLid' # we'll do it later
    )
    temp.columns = ['LCLid', 'tstp', 'energy']
    temp.fillna(0, inplace=True)
    # np.float16 is too rough even for thousandths
    temp['energy'] = temp['energy'].astype(np.float32, copy=False)
    # now we need to concatenate two halves of an hour
    # roughing to hours
    temp['tstp'] = temp['tstp'].dt.to_period('H')
    # grouping, summing and regrouping back one level,
    # so LCLid stays as an index
    consumption = pd.concat(
        [consumption,
         temp.groupby(by=['LCLid', 'tstp']).agg(np.sum).reset_index(['tstp'])
         ], copy=False)

    # for testing with small amount of data
    count_tables += 1
    if count_tables > 5:
        break
    
# display(consumption.sample(10))
print('DEBUG: concatenated dataframe info')
display(consumption.info())

# save it to the google disk
# do we really need this?
print('DEBUG: pickling concatenated dataframe to disk')
pd.to_pickle(
    consumption,
    file_prefix / 'hourly_dataset' / 'hourly_dataset.pickle.zip', 
    compression='zip',
    protocol=4)

DEBUG: file=/content/drive/My Drive/Colab Notebooks/Skillfactory_game_data/halfhourly_dataset/block_0.csv.zip
DEBUG: file=/content/drive/My Drive/Colab Notebooks/Skillfactory_game_data/halfhourly_dataset/block_1.csv.zip
DEBUG: file=/content/drive/My Drive/Colab Notebooks/Skillfactory_game_data/halfhourly_dataset/block_111.csv.zip
DEBUG: file=/content/drive/My Drive/Colab Notebooks/Skillfactory_game_data/halfhourly_dataset/block_110.csv.zip
DEBUG: file=/content/drive/My Drive/Colab Notebooks/Skillfactory_game_data/halfhourly_dataset/block_109.csv.zip
DEBUG: file=/content/drive/My Drive/Colab Notebooks/Skillfactory_game_data/halfhourly_dataset/block_108.csv.zip

                       tstp  energy
MAC002569  2012-11-23 14:00   0.446
MAC000236  2013-03-31 10:00   0.832
MAC003110  2013-11-17 15:00   0.166
MAC002152  2012-07-15 02:00   0.137
MAC000535  2012-05-02 12:00   1.391
MAC004570  2012-04-23 07:00   0.206
MAC000569  2013-10-01 20:00   4.165
MAC003737  2013-12-09 19:00   0.655
MAC002087  2012-08-12 22:00   2.410
MAC002700  2014-01-27 04:00   0.054

<class 'pandas.core.frame.DataFrame'>
Index: 3855864 entries, MAC000002 to MAC005528
Data columns (total 2 columns):
tstp      object
energy    float32
dtypes: float32(1), object(1)
memory usage: 73.5+ MB

None

In [0]:
consumption.head(20)

                       tstp  energy
MAC000002  2012-10-12 00:00   0.000
MAC000002  2012-10-12 01:00   0.000
MAC000002  2012-10-12 02:00   0.000
MAC000002  2012-10-12 03:00   0.000
MAC000002  2012-10-12 04:00   0.000
MAC000002  2012-10-12 05:00   0.000
MAC000002  2012-10-12 06:00   0.000
MAC000002  2012-10-12 07:00   0.000
MAC000002  2012-10-12 08:00   0.000
MAC000002  2012-10-12 09:00   0.000
MAC000002  2012-10-12 10:00   0.000
MAC000002  2012-10-12 11:00   0.143
MAC000002  2012-10-12 12:00   0.919
MAC000002  2012-10-12 13:00   0.354
MAC000002  2012-10-12 14:00   0.290
MAC000002  2012-10-12 15:00   0.288
MAC000002  2012-10-12 16:00   0.291
MAC000002  2012-10-12 17:00   0.847
MAC000002  2012-10-12 18:00   0.423
MAC000002  2012-10-12 19:00   1.413

### Запрос данных по группе ACORN

In [6]:
def retrieve_ACORN_full_data(acorn_group):
    LCLids = list(
        informations_households
        [informations_households['Acorn'] == acorn_group].index
    )
    files_to_proceed = set(informations_households.loc[LCLids]['file'])
    result_df = pd.DataFrame(columns=['tstp', 'energy'])
    for file in files_to_proceed:
        z = pd.read_csv(
            file_prefix / 'halfhourly_dataset' / f'{file}.csv.zip',
            parse_dates=['tstp'],
            infer_datetime_format=True,
            compression='infer',
            na_values='Null',
            keep_default_na=True,
            # index_col='LCLid'
        )
        z.columns = ['LCLid', 'tstp', 'energy']
        # filter out only LCLids needed
        z = z[z['LCLid'].isin(list(LCLids))]
        z.fillna(0, inplace=True)
        # np.float16 is too rough even for thousandths
        z['energy'] = z['energy'].astype(np.float32, copy=False)
        # now we need to concatenate two halves of an hour
        # roughing to hours
        z['tstp'] = z['tstp'].dt.to_period('H')
        # grouping, summing and regrouping back one level,
        # so LCLid stays as an index
        z = z \
        .groupby(by=['tstp']) \  # grouping only by timestamp,  
        .agg(np.sum) \           # cause we are aware about ACORN
        .reset_index(['tstp'])
        result_df = pd.concat([result_df, z], copy=False)
    del z
    return result_df

display(retrieve_ACORN_full_data('ACORN-A'))

DEBUG {'block_2', 'block_3', 'block_1', 'block_0'}

                   tstp     energy
0      2011-12-07 11:00   0.398000
1      2011-12-07 12:00   0.627000
2      2011-12-07 13:00   0.175000
3      2011-12-07 14:00   0.149000
4      2011-12-07 15:00   0.312000
...                 ...        ...
19619  2014-02-27 20:00  60.084000
19620  2014-02-27 21:00  60.188000
19621  2014-02-27 22:00  55.577000
19622  2014-02-27 23:00  41.153999
19623  2014-02-28 00:00  13.722000

[77529 rows x 2 columns]

### пример чтения списка файлов из папки на Google disk

In [0]:
file_path = glob.glob(str(file_prefix / 'halfhourly_dataset' / "*.*"))
for file in file_path:
    print(file)

### закрытие файлов на Google disk

In [0]:
drive.flush_and_unmount()